#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
}

#logowanie
{
	padding: 20px;
	background-color: #f0f0f0;
	float: right;
	width: 220px;
	height: 110px;	
}

#topcontent
{
	float: left;
	width: 740px;
	height: 150px;
	background-color: #404040;
	color: #ffffff;
	text-align: center;
}

#menu
{
	border: 2px solid #444444;
	
}

#content
{
	text-align: center;
	border: 2px solid #000000;
}

table {
	margin: 0 auto;
	text-align: left; 
}

.redSquare{
	background-color: #cd0000; 
	width: 20; 
	height: 20;
}

.blueSquare{
	background-color: #0000cd; 
	width: 20; 
	height: 20;
}

.error{
	color: #ff0000;
}

.r_forma{
	margin-bottom: 5px;	
	display: block;
}

.r_forma2{
	margin-bottom: 9px;	
	display: block;
}

#r_rejestracja{
	width: 450px;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 70px;
}

#r_label{
	margin-right: 10px;
	float: left;
	
}

#r_input{
	float: left;	
	
}
  
  
  
  
  
  
  